<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CreationDate</key>
	<date>2020-03-25T09:39:58Z</date>
	<key>PrivateProperties</key>
	<dict>
		<key>DropboxSyncDates</key>
		<array>
			<date>2020-03-29T20:50:14Z</date>
			<string>015a1f7a46ee82400000001b4ef91a0</string>
		</array>
		<key>DropboxSyncDates4plist</key>
		<array>
			<date>2020-03-29T20:50:13Z</date>
			<string>015a1f7a471103f00000001b4ef91a0</string>
		</array>
	</dict>
</dict>
</plist>
