<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CreationDate</key>
	<date>2020-03-25T09:40:04Z</date>
	<key>PrivateProperties</key>
	<dict>
		<key>DropboxSyncDates</key>
		<array>
			<date>2020-03-25T09:41:36Z</date>
			<string>015a1aaa721665a00000001b4ef91a0</string>
		</array>
		<key>DropboxSyncDates4plist</key>
		<array>
			<date>2020-03-25T09:44:34Z</date>
			<string>015a1aab734560000000001b4ef91a0</string>
		</array>
	</dict>
</dict>
</plist>
