<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CharacterOffset</key>
	<string>2</string>
	<key>CreationDate</key>
	<date>2020-03-26T22:43:36Z</date>
	<key>Markdown</key>
	<string>OK</string>
	<key>PrivateProperties</key>
	<dict>
		<key>DropboxSyncDates</key>
		<array>
			<date>2020-04-03T23:59:28Z</date>
			<string>015a26bb51fc9f300000001b4ef91a0</string>
		</array>
		<key>DropboxSyncDates4plist</key>
		<array>
			<date>2020-03-29T20:07:56Z</date>
			<string>015a203e3d3104d00000001b4ef91a0</string>
		</array>
	</dict>
</dict>
</plist>
